# Seminario de Lenguajes - Python

## Cursada 2024
### Continuamos con el anÃ¡lisis de datos
* Pandas
* Matplotlib
* Mostramos todo en Streamlit

## ðŸ’¢ Â¿QuÃ© vimos en la clase anterior?
En la clase pasada estuvimos viendo algunos conceptos sobre:
* Tipos de datos bÃ¡sicos de Pandas:

* Series
* Dataframe

### Conocer el dataset:
* primeras o Ãºltimas filas
* cantidad de filas y columnas
* info de los datos y cÃ¡lculos bÃ¡sicos estadÃ­sticos

* primeras: **head()**
* Ãºltimas: **tail()**
* filas y columnas: **shape**
* columnas: **columns**
* informaciÃ³n de tipos de datos y cantidad de datos nulos: **info()**
* cÃ¡lculos bÃ¡sicos de estadÃ­stica: **describe()**

### Acceso a los datos: posiciÃ³n numÃ©rica y por etiqueta

* posiciÃ³n numÃ©rica: **iloc**
* identificaciÃ³n por etiqueta: **loc**

### ManipulaciÃ³n de Datos
* Filtrando los datos
* ModificaciÃ³n de nombres de columnas

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file_route = Path('files')
file_data = 'ar-airports.csv'
df_airports = pd.read_csv(file_data)

### Reemplazos de valores en las celdas

In [3]:
df_airports[df_airports.region_name.str.contains('Tierra del Fuego')]['region_name'].head(3)

2     Tierra del Fuego Province
18    Tierra del Fuego Province
41    Tierra del Fuego Province
Name: region_name, dtype: object

Â¿CÃ³mo reemplazamos?

In [4]:
df_airports.region_name.replace('Tierra del Fuego Province', 'Tierra del Fuego, AntÃ¡rtida e Islas del AtlÃ¡ntico Sur', inplace=True)

In [5]:
df_airports[df_airports.region_name.str.contains('Tierra del Fuego')]['region_name'].head(3)

2     Tierra del Fuego, AntÃ¡rtida e Islas del AtlÃ¡nt...
18    Tierra del Fuego, AntÃ¡rtida e Islas del AtlÃ¡nt...
41    Tierra del Fuego, AntÃ¡rtida e Islas del AtlÃ¡nt...
Name: region_name, dtype: object

Â¿QuÃ© significa **inplace==True**?

Realicemos una modificaciÃ³n de
* **'RÃ­o Negro Province'** -> **'RÃ­o Negro'**

In [6]:
df_airports[df_airports.region_name.str.contains('Negro')]['region_name'].head(3)

6     RÃ­o Negro Province
9     RÃ­o Negro Province
38    RÃ­o Negro Province
Name: region_name, dtype: object

In [7]:
df_airports.region_name.replace('RÃ­o Negro Province', 'RÃ­o Negro')

0                                  Buenos Aires Province
1                         Buenos Aires (Autonomous City)
2      Tierra del Fuego, AntÃ¡rtida e Islas del AtlÃ¡nt...
3                                    Santa Cruz Province
4                                      Misiones Province
                             ...
938                                    Santa Fe Province
939                                     CÃ³rdoba Province
940                         Santiago del Estero Province
941                                     CÃ³rdoba Province
942    Tierra del Fuego, AntÃ¡rtida e Islas del AtlÃ¡nt...
Name: region_name, Length: 943, dtype: object

Â¿Se realizÃ³ el cambio?

In [8]:
df_airports[df_airports.region_name.str.contains('Negro')]['region_name'].head(3)

6     RÃ­o Negro Province
9     RÃ­o Negro Province
38    RÃ­o Negro Province
Name: region_name, dtype: object

**inplace** hace el reemplazo sin tener que guardar el dataframe modificado en una nueva variable.

## ðŸŽ’ Renombrar las columnas

Renombrar la columna:
* **'name'** -> **'Nombre'**

Trabajemos con un dataframe mÃ¡s reducido.

In [10]:
df_reduced =  df_airports[['type','name']]

Â¿Por quÃ© usamos doble **[** **]** ?

In [11]:
df_reduced.rename(columns={'name': 'Nombre'}).head(3)

             type                                    Nombre
0   large_airport  Minister Pistarini International Airport
1   large_airport                     Jorge Newbery Airpark
2  medium_airport               Malvinas Argentinas Airport

In [12]:
df_reduced.columns

Index(['type', 'name'], dtype='object')

Usamos **inplace** si estamos seguros de los cambios que vamos a realizar

In [13]:
df_reduced.rename(columns={'name': 'Nombre'}, inplace=True)

C:\Users\Valentin\AppData\Local\Temp\ipykernel_16392\2852262235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced.rename(columns={'name': 'Nombre'}, inplace=True)

In [14]:
df_reduced

               type                                             Nombre
0     large_airport           Minister Pistarini International Airport
1     large_airport                              Jorge Newbery Airpark
2    medium_airport                        Malvinas Argentinas Airport
3    medium_airport  El Calafate - Commander Armando Tola Internati...
4    medium_airport         Cataratas Del IguazÃº International Airport
..              ...                                                ...
938          closed                         Agrodistribuidora Airstrip
939        heliport  Dayry Partners Americas Manufacturing Argentin...
940          closed                                Villa UniÃ³n Airport
941        heliport                                      Roca Heliport
942        heliport                              Austral S.A. Heliport

[943 rows x 2 columns]

Este [**warning**](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy) nos indica que Pandas no puede asegurar que resultados sean los esperados, Â¿cÃ³mo podemos asegurar que no haya problemas?

### ðŸ“Œ OpciÃ³n 1: Hacer una copia explÃ­cita, usando **copy()**

In [15]:
df_reduced_copy = df_airports[['type', 'name']].copy()
df_reduced_copy.rename(columns={'name': 'Nombre'}, inplace=True)

df_reduced_copy.head(3)

             type                                    Nombre
0   large_airport  Minister Pistarini International Airport
1   large_airport                     Jorge Newbery Airpark
2  medium_airport               Malvinas Argentinas Airport


### ðŸ“Œ OpciÃ³n 2: Asignar el resultado a una variable nueva

In [17]:
df_reduced_var = df_airports[['type','name']]
df_reduced_var = df_reduced_var.rename(columns={'type': 'Tipo'})
df_reduced_var.head(3)

             Tipo                                      name
0   large_airport  Minister Pistarini International Airport
1   large_airport                     Jorge Newbery Airpark
2  medium_airport               Malvinas Argentinas Airport

### Â¿Y si queremos renombrar varias columnas?

In [20]:
df_reduced_var = df_airports[['type', 'name', 'latitude_deg', 'longitude_deg']]
replace_columns = {'name':'Nombre', 'latitude_deg': 'Latitud', 'longitude_deg': 'Longitud'}
df_reduced_var.rename(columns=replace_columns).head(3)

             type                                    Nombre  Latitud  Longitud
0   large_airport  Minister Pistarini International Airport -34.8222  -58.5358
1   large_airport                     Jorge Newbery Airpark -34.5592  -58.4156
2  medium_airport               Malvinas Argentinas Airport -54.8433  -68.2958

### Y si queremos renombrar todas las columnas:

In [21]:
df_reduced_var.columns = ['Tipo','Nombre','Latitud']
                                #, 'Longitud']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements

La cantidad de elementos de la **lista** debe coincidir con la cantidad de **columnas**

In [22]:
df_reduced_var.columns = ['Tipo','Nombre','Latitud', 'Longitud']
df_reduced_var.head(3)

             Tipo                                    Nombre  Latitud  Longitud
0   large_airport  Minister Pistarini International Airport -34.8222  -58.5358
1   large_airport                     Jorge Newbery Airpark -34.5592  -58.4156
2  medium_airport               Malvinas Argentinas Airport -54.8433  -68.2958

## ðŸŽ’ ModificaciÃ³n de tipo de datos
#### Â¿Y si queremos cambiar el tipo de dato para una columna?

Veamos la columna **last_updated**

In [23]:
df_airports.last_updated

0      2022-10-27T15:05:29+00:00
1      2021-10-07T15:55:36+00:00
2      2021-10-07T11:21:29+00:00
3      2022-01-12T18:23:15+00:00
4      2018-09-13T12:34:47+00:00
                 ...
938    2020-04-12T12:30:36+00:00
939    2009-10-20T11:13:21+00:00
940    2020-04-10T04:01:54+00:00
941    2009-10-20T11:13:21+00:00
942    2021-10-07T11:46:03+00:00
Name: last_updated, Length: 943, dtype: object

* Contiene datos de fechas, Pandas le asignÃ³ **object**, un tipo de datos general.
* Queremos verificar los aÃ±os en que se realizaron actualizaciones.
    * Â¿Con quÃ© tipos de datos trabajamos en Python las fechas?

In [ ]:
date_updated = pd.to_datetime(df_airports.last_updated)
date_updated

In [24]:
date_updated.dt.year.unique()

NameError: name 'date_updated' is not defined

El atributo **.dt** en Pandas se usa para acceder a las propiedades de los datos datetime, como: 
* aÃ±os
* meses
* dÃ­as
* horas
* minutos, etc.
* En este caso, **.dt.year** se utiliza para obtener el aÃ±o de cada fecha en la variable que contiene fechas.

En el ejemplo anterior:
```python
date_updated = pd.to_datetime(df_airports.last_updated)
```
Estamos trabajando con una variable **Series**, no con los datos propios del dataframe.

### ðŸ“ŒModifiquemos el tipo de dato de la columna del dataframe

In [25]:
df_airports.last_updated = pd.to_datetime(df_airports.last_updated)
df_airports[['name', 'last_updated']].head(3)

                                       name              last_updated
0  Minister Pistarini International Airport 2022-10-27 15:05:29+00:00
1                     Jorge Newbery Airpark 2021-10-07 15:55:36+00:00
2               Malvinas Argentinas Airport 2021-10-07 11:21:29+00:00

In [26]:
df_airports.last_updated.head(3)

0   2022-10-27 15:05:29+00:00
1   2021-10-07 15:55:36+00:00
2   2021-10-07 11:21:29+00:00
Name: last_updated, dtype: datetime64[ns, UTC]

In [27]:
df_airports.last_updated.dt.month.unique()

array([10,  1,  9,  2,  7,  4,  3,  5,  6, 11,  8, 12])

Se modificÃ³ una columna con tipo de dato **object** a **datetime** de Pandas usando:
* pd.to_datetime(columna)

Â¿QuÃ© otras opciones tenemos?

In [28]:
pd.to_

AttributeError: module 'pandas' has no attribute 'to_'

Â¿Y si queremos realizar otro tipo de modificaciÃ³n? Veamos la columna **elevation__ft**:

In [29]:
df_airports.elevation_ft

0        67.0
1        18.0
2       102.0
3       669.0
4       916.0
        ...
938     220.0
939     639.0
940     248.0
941    3444.0
942     290.0
Name: elevation_ft, Length: 943, dtype: float64

* Â¿A quÃ© tipo de dato se podrÃ­a cambiar?
* Â¿Por quÃ© harÃ­amos el cambio?

Para cambiar a tipos de datos como int, float ...usamos
```python
df.column.astype(..: int, float, bool, str
```
Veamos el cÃ³digo y quÃ© pasa:

In [30]:
df_airports.elevation_ft.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

* El problema es que tenemos valores nulos o infinitos, (Nan o Inf).
* Podemos asignarles un valor, por ejemplo 0, pero generarÃ¡ anÃ¡lisis errÃ³neos cuando se involucre este valor.
* Podemos optar por:
    * eliminar las filas que tienen **non-finite values (NA or inf)**, ojo verificar que no perdemos informaciÃ³n.
    * en el caso que se necesite trabajar con estos valores, nos podemos quedar con un subconjunto del dataset sin las filas que contienen valores nulos. 
    * si no necesitamos evaluar los datos de esta columna, no la modificamos y trabajamos con todo el dataset .

Veamos la opciÃ³n de sacar las filas que contienen valores nulos:
```python
df.dropna()
```
Nos permite eliminar estos casos del dataframe.

In [31]:
df_airports.dropna()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,...,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated,elevation_name,prov_name
0,5781,SAEZ,large_airport,Minister Pistarini International Airport,-34.822200,-58.5358,67.0,SA,Argentina,AR,...,SAEZ,EZE,EZE,http://www.aa2000.com.ar/index.php,https://en.wikipedia.org/wiki/Ministro_Pistari...,"BUE, Ezeiza",1275,2022-10-27 15:05:29+00:00,Bajo,Buenos Aires Province
4,5806,SARI,medium_airport,Cataratas Del IguazÃº International Airport,-25.737301,-54.4734,916.0,SA,Argentina,AR,...,SARI,IGR,IGU,http://www.aa2000.com.ar/iguazu,https://en.wikipedia.org/wiki/Cataratas_del_Ig...,IguaÃ§u,750,2018-09-13 12:34:47+00:00,Alto,Misiones Province
19,5840,SAZB,medium_airport,Comandante Espora Airport,-38.725000,-62.1693,246.0,SA,Argentina,AR,...,SAZB,BHI,BCA,https://www.aeropuertobahiablanca.com/,https://en.wikipedia.org/wiki/Comandante_Espor...,BahÃ­a Blanca Airport,750,2018-09-16 04:14:57+00:00,Medio,Buenos Aires Province

### Quedaron sÃ³lo 3 filas!!!!

### ðŸ“Œ EliminaciÃ³n de datos nulos
En realidad no se eliminaron porque no modificamos de forma definitiva el Dataframe.
```python
df.dropna()
```
Elimina **todas** filas que contengan en **algunas** de las columnas valores nulos, y vimos que algunas columnas tienen muchos como:

In [32]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 943 non-null    int64
 1   ident              943 non-null    object
 2   type               943 non-null    object
 3   name               943 non-null    object
 4   latitude_deg       943 non-null    float64
 5   longitude_deg      943 non-null    float64
 6   elevation_ft       908 non-null    float64
 7   continent          943 non-null    object
 8   country_name       943 non-null    object
 9   iso_country        943 non-null    object
 10  region_name        943 non-null    object
 11  iso_region         943 non-null    object
 12  local_region       943 non-null    object
 13  municipality       927 non-null    object
 14  scheduled_service  943 non-null    int64
 15  gps_code           225 non-null    object
 16  iata_code          103 non-null    object
 17  local_code         761 non-null    object
 18  home_link          14 non-null     object
 19  wikipedia_link     80 non-null     object
 20  keywords           108 non-null    object
 21  score              943 non-null    int64
 22  last_updated       943 non-null    datetime64[ns, UTC]
 23  elevation_name     943 non-null    object
 24  prov_name          943 non-null    object
dtypes: datetime64[ns, UTC](1), float64(3), int64(3), object(18)
memory usage: 184.3+ KB

Para eliminar las filas que contienen valores nulos **sÃ³lo de una columna**:

In [34]:
df_airports_mod = df_airports.dropna(subset=['elevation_ft']).copy()

Para no perder los datos originales, realizamos una **copia** sacando los valores nulos de la columna **elevation_ft**

In [35]:
df_airports_mod['elevation_ft'] = df_airports_mod.elevation_ft.astype(int)
df_airports_mod[['name','elevation_ft']].head(3)

                                       name  elevation_ft
0  Minister Pistarini International Airport            67
1                     Jorge Newbery Airpark            18
2               Malvinas Argentinas Airport           102

Â¿CuÃ¡ntos valores nulos hay en cada columna ahora?

In [36]:
df_airports_mod.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 908 entries, 0 to 942
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 908 non-null    int64
 1   ident              908 non-null    object
 2   type               908 non-null    object
 3   name               908 non-null    object
 4   latitude_deg       908 non-null    float64
 5   longitude_deg      908 non-null    float64
 6   elevation_ft       908 non-null    int32
 7   continent          908 non-null    object
 8   country_name       908 non-null    object
 9   iso_country        908 non-null    object
 10  region_name        908 non-null    object
 11  iso_region         908 non-null    object
 12  local_region       908 non-null    object
 13  municipality       900 non-null    object
 14  scheduled_service  908 non-null    int64
 15  gps_code           223 non-null    object
 16  iata_code          103 non-null    object
 17  local_code         756 non-null    object
 18  home_link          14 non-null     object
 19  wikipedia_link     79 non-null     object
 20  keywords           108 non-null    object
 21  score              908 non-null    int64
 22  last_updated       908 non-null    datetime64[ns, UTC]
 23  elevation_name     908 non-null    object
 24  prov_name          908 non-null    object
dtypes: datetime64[ns, UTC](1), float64(2), int32(1), int64(3), object(18)
memory usage: 984.0 KB

In [37]:
df_airports.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 943 non-null    int64
 1   ident              943 non-null    object
 2   type               943 non-null    object
 3   name               943 non-null    object
 4   latitude_deg       943 non-null    float64
 5   longitude_deg      943 non-null    float64
 6   elevation_ft       908 non-null    float64
 7   continent          943 non-null    object
 8   country_name       943 non-null    object
 9   iso_country        943 non-null    object
 10  region_name        943 non-null    object
 11  iso_region         943 non-null    object
 12  local_region       943 non-null    object
 13  municipality       927 non-null    object
 14  scheduled_service  943 non-null    int64
 15  gps_code           225 non-null    object
 16  iata_code          103 non-null    object
 17  local_code         761 non-null    object
 18  home_link          14 non-null     object
 19  wikipedia_link     80 non-null     object
 20  keywords           108 non-null    object
 21  score              943 non-null    int64
 22  last_updated       943 non-null    datetime64[ns, UTC]
 23  elevation_name     943 non-null    object
 24  prov_name          943 non-null    object
dtypes: datetime64[ns, UTC](1), float64(3), int64(3), object(18)
memory usage: 1017.2 KB

### ðŸ“Œ CÃ¡lculos mÃ¡temÃ¡ticos que nos pueden interesar...
* mean
* min
* max
* sum

In [38]:
df_airports_mod.elevation_ft.min()

6

Queremos encontrar los aeropuertos cuya elevaciÃ³n sea menor al promedio.

In [39]:
df_airports_mod[df_airports_mod.elevation_ft<df_airports.elevation_ft.mean()][['name','elevation_ft']].head(3)

                                       name  elevation_ft
0  Minister Pistarini International Airport            67
1                     Jorge Newbery Airpark            18
2               Malvinas Argentinas Airport           102

Â¿Por quÃ© usamos dos veces la variable del **dataframe**?

## ðŸŽ’ Crear nuestro dataframe

In [48]:
recognized_women_info = {
    'Cecilia Berdichevsky': {'Area': 'InformÃ¡tica', 'Fecha_nacimiento': '1960-05-10'},
    'NoemÃ­ GarcÃ­a': {'Area': 'InformÃ¡tica', 'Fecha_nacimiento': '1965-11-30'},
    'Cecilia Grierson': {'Area': 'Ciencia', 'Fecha_nacimiento': '1859-11-22'},
    'Julieta Lanteri': {'Area': 'Ciencia', 'Fecha_nacimiento': '1873-11-22'},
    'Jeanette Campbell': {'Area': 'Deporte', 'Fecha_nacimiento': '1965-03-20'},
    'Mary TerÃ¡n': {'Area': 'Deporte', 'Fecha_nacimiento': '1936-01-23'},
    'Patricia Sosa': {'Area': 'MÃºsica', 'Fecha_nacimiento': '1956-01-23'},
    'Fabiana Cantilo': {'Area': 'MÃºsica', 'Fecha_nacimiento': '1959-03-03'}
}

* Convertir el diccionario a DataFrame

In [49]:
women_df = pd.DataFrame.from_dict(recognized_women_info, orient='index')

women_df

                             Area Fecha_nacimiento
Cecilia Berdichevsky  InformÃ¡tica       1960-05-10
NoemÃ­ GarcÃ­a          InformÃ¡tica       1965-11-30
Cecilia Grierson          Ciencia       1859-11-22
Julieta Lanteri           Ciencia       1873-11-22
Jeanette Campbell         Deporte       1965-03-20
Mary TerÃ¡n                Deporte       1936-01-23
Patricia Sosa              MÃºsica       1956-01-23
Fabiana Cantilo            MÃºsica       1959-03-03

**orient=index**: indica que las claves del diccionario deben sen interpretadas como Ã­ndice del dataframe que se estÃ¡

* Convertir el Ã­ndice en columna como parte del Dataframe

In [50]:
women_df.reset_index(inplace=True)
women_df.rename(columns={'index': 'Nombre'}, inplace=True)
women_df.index.name = 'index'
women_df

                     Nombre         Area Fecha_nacimiento
index
0      Cecilia Berdichevsky  InformÃ¡tica       1960-05-10
1              NoemÃ­ GarcÃ­a  InformÃ¡tica       1965-11-30
2          Cecilia Grierson      Ciencia       1859-11-22
3           Julieta Lanteri      Ciencia       1873-11-22
4         Jeanette Campbell      Deporte       1965-03-20
5                Mary TerÃ¡n      Deporte       1936-01-23
6             Patricia Sosa       MÃºsica       1956-01-23
7           Fabiana Cantilo       MÃºsica       1959-03-03

In [51]:
women_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            8 non-null      object
 1   Area              8 non-null      object
 2   Fecha_nacimiento  8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

Accedemos a filas por nÃºmero de fila y por etiquetas

In [52]:
women_df.iloc[2]

Nombre              Cecilia Grierson
Area                         Ciencia
Fecha_nacimiento          1859-11-22
Name: 2, dtype: object

In [53]:
women_df.loc[2]

Nombre              Cecilia Grierson
Area                         Ciencia
Fecha_nacimiento          1859-11-22
Name: 2, dtype: object

#### Generamos el Dataframe con etiquetas diferentes a nÃºmeros

In [54]:
index_list = ['w' + str(i) for i in range(1, len(recognized_women_info) + 1)]
women_df = pd.DataFrame.from_dict(recognized_women_info, orient='index')
women_df.reset_index(inplace=True)
women_df.rename(columns={'index': 'Nombre'}, inplace=True)
women_df.index = index_list
women_df

                  Nombre         Area Fecha_nacimiento
w1  Cecilia Berdichevsky  InformÃ¡tica       1960-05-10
w2          NoemÃ­ GarcÃ­a  InformÃ¡tica       1965-11-30
w3      Cecilia Grierson      Ciencia       1859-11-22
w4       Julieta Lanteri      Ciencia       1873-11-22
w5     Jeanette Campbell      Deporte       1965-03-20
w6            Mary TerÃ¡n      Deporte       1936-01-23
w7         Patricia Sosa       MÃºsica       1956-01-23
w8       Fabiana Cantilo       MÃºsica       1959-03-03

#### Ahora el acceso con **iloc** y **loc** cambia

In [55]:
women_df.iloc[0]

Nombre              Cecilia Berdichevsky
Area                         InformÃ¡tica
Fecha_nacimiento              1960-05-10
Name: w1, dtype: object

In [57]:
women_df.loc[0]

KeyError: 0

Da error porque **0** no es un Ã­ndice vÃ¡lido

In [58]:
women_df.index

Index(['w1', 'w2', 'w3', 'w4', 'w5', 'w6', 'w7', 'w8'], dtype='object')

In [60]:
women_df.loc['w1']

Nombre              Cecilia Berdichevsky
Area                         InformÃ¡tica
Fecha_nacimiento              1960-05-10
Name: w1, dtype: object

### ðŸš¨ DesafÃ­o para resolver en casa
* Reemplazar en el dataset de Conectividad las celdas que contengan el carÃ¡cter '-' con la palabra 'NO' usando Pandas

## ðŸŽ’ Agregar columna con datos de otras columnas
Queremos que agregar una columna **height** que contenga los valores:
* bajo
* medio
* alto
  
segÃºn los rangos de valores de la columna **elevation_ft**

Tenemos que **recorrer** el dataset y asignar el valor correspondiente, podemos hacerlo, recorriendo...usando **iterrrows**

In [61]:
df_airports_height = df_airports.copy()
heights = []
for index, row in df_airports_height.iterrows():
    value = row['elevation_ft']
    if value < 131:
        height = 'bajo'
    elif value < 903:
        height ='medio'
    else:
        height = 'alto'
    
    # AÃ±adir el resultado a la lista
    heights.append(height)
df_airports_height['height'] = heights
df_airports_height[['name','elevation_ft','height']].head(4)

                                                name  elevation_ft height
0           Minister Pistarini International Airport          67.0   bajo
1                              Jorge Newbery Airpark          18.0   bajo
2                        Malvinas Argentinas Airport         102.0   bajo
3  El Calafate - Commander Armando Tola Internati...         669.0  medio

Â¿CÃ³mo nos queda el dataset con respecto a los valores nulos de cada columna?

In [62]:
df_airports_altura.info()

NameError: name 'df_airports_altura' is not defined

Pero si hay algo que nos gusta de Pandas es no tener que **recorrer** manualmente, entonces Â¿cÃ³mo hacemos?

In [63]:
df_airports_height = df_airports.copy()

def define_height(value):
    if value < 131:
        return 'bajo'
    elif value < 903:
        return 'medio'
    else:
        return 'alto'

In [64]:
df_airports_height['height'] = df_airports_height['elevation_ft'].apply(define_height)
df_airports_height[['name','elevation_ft','height']].head(4)

                                                name  elevation_ft height
0           Minister Pistarini International Airport          67.0   bajo
1                              Jorge Newbery Airpark          18.0   bajo
2                        Malvinas Argentinas Airport         102.0   bajo
3  El Calafate - Commander Armando Tola Internati...         669.0  medio

[**Apply**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) de Pandas permite aplicar una funciÃ³n a todas las filas de una columna

In [ ]:
df_airports_height.head(4)

De esta forma en lugar de usar **iterrows**, utilizamos **apply** con una funciÃ³n definida que genera el dato necesario.

### ðŸš¨ DesafÃ­o para resolver en casa
Mejorar los cambios en el caso de valores **nan** y el cambio de tipo de datos
### Â¿QuÃ© pasÃ³ en estos casos?:
```python
df_airports_height.iloc[926]
```
* Â¿EstÃ¡ bien el valor correspondiete a la columna **'altura'**?
* Investigar:
    * la conversiÃ³n al tipo de datos: pd.Int64Dtype()
    * la funciÃ³n **pd.isna** para consultar si un valor es **nan**
### Cuando se convirtiÃ³ a int, Â¿se perdieron decimales?
* Â¿CÃ³mo podemos verifircarlo? Investigar:
    * **value.is_integer**

Abajo les dejo dos consultas de los errores que se generaron

In [65]:
df_airports_height.iloc[926]

id                                      354551
ident                                  AR-0732
type                                  heliport
name                          Hospital helipad
latitude_deg                        -32.911775
longitude_deg                       -60.681374
elevation_ft                               NaN
continent                                   SA
country_name                         Argentina
iso_country                                 AR
region_name                  Santa Fe Province
iso_region                                AR-S
local_region                                 S
municipality                           Rosario
scheduled_service                            0
gps_code                                   NaN
iata_code                                  NaN
local_code                                 NaN
home_link                                  NaN
wikipedia_link                             NaN
keywords                                   NaN
score                                        0
last_updated         2022-05-23 16:43:22+00:00
elevation_name                     Desconocido
prov_name                             Santa Fe
height                                    alto
Name: 926, dtype: object

In [66]:
df_airports_height[df_airports_height.elevation_ft.isnull()][['name','elevation_ft','height']].head(3)

              name  elevation_ft height
170  Gan Gan Field           NaN   alto
171         Telsen           NaN   alto
172   Gastre Field           NaN   alto

### Agregar columna en funciÃ³n de dos columnas del Dataframe
Queremos hacer la definiciÃ³n de los datos de la nueva columna en funciÃ³n de dos **columnas**

Hacemos una copia del dataframe y nos quedamos solamente con:
* 'large_airport'
* 'medium_airport'
* 'small_airport'

In [ ]:
columnas = ['large_airport', 'medium_airport', 'small_airport']
df_airports_height = df_airports[df_airports.type.isin(columnas)].copy()

In [70]:
df_airports_height.type.unique()

array(['large_airport', 'medium_airport', 'closed', 'small_airport',
       'heliport', 'balloonport'], dtype=object)

In [74]:
df_airports_height = df_airports[df_airports.type.isin(columnas)].copy()
def define_height(value):
    match value:
        case _ if value <= 131:
            return "bajo"
        case _ if value <= 903:
            return "medio"
        case _:
            return "alto"
def type_height(value, type_airport):
    text_value = define_height(value)
    match value:
        case _ if type_airport == 'large_airport':
            return 'large_'+text_value 
        case _ if type_airport =='medium_airport':
            return 'medium_'+text_value 
        case _:
            return 'small_'+text_value

NameError: name 'columnas' is not defined

In [72]:
df_airports_height['height'] = df_airports_height.apply(lambda x: type_height(x.elevation_ft, x.type), axis=1)

NameError: name 'type_height' is not defined

In [ ]:
df_airports_height[['name','type','elevation_ft','height']].head(4)

**apply** en este caso, no se especifica que se aplique a una sola columna porque necesitamos acceder a **dos columnas**.
```python
 df_airports_height.apply(lambda x: type_height(x.elevation_ft, x.type), axis=1)
```
* **axis=1**: indica que se aplique la funciÃ³n a cada fila
* **axis=0**, la opciÃ³n por **defecto** lo hace sobre una columna

## Nuestros datos y grÃ¡ficos en Streamlit

* Vamos a trabajar con un archivo que cuenta con un registro de avistajes de felinos en nuestro paÃ­s
* Descargado del sitio de [gbif](https://www.gbif.org/) y adaptado para poder trabajar estos datos

In [ ]:
felinos = pd.read_csv(file_route/'felinos_filtrado.csv')

Veamos que datos tiene

In [ ]:
felinos.columns

In [ ]:
felinos.head(3)

In [ ]:
felinos.info()

Queremos conocer en quÃ© cantidad de provincias se avistaron los  **diferentes** felinos

In [ ]:
felinos.genus.unique()

In [ ]:
felinos.stateProvince.unique()

Arreglemos algunos problemas

In [ ]:
felinos.stateProvince = felinos.stateProvince.replace('Neuquen','NeuquÃ©n')

In [ ]:
felinos.stateProvince.unique()

Necesito saber por cada tipo de felino, dato que tengo en **genus**, en cuÃ¡ntas provincias **diferentes** estÃ¡.

## ðŸŽ’ Agrupamientos

In [ ]:
felinos.groupby('genus')

**groupby** permite agrupar por una columna o mÃ¡s, pero necesita ir acompaÃ±ado de alguna operaciÃ³n de agregaciÃ³n o transformaciÃ³n para poder visualizar el resultado correspondiente.

In [ ]:
felinos.groupby('genus')['stateProvince'].unique()

In [ ]:
felinos.groupby('genus')['stateProvince'].nunique()

* **unique** indica los valores Ãºnicos de la agrupaciÃ³n que hicimos en funciÃ³n de la columna que indicamos
* **nunique** indica la cantidad de esa columna, en este caso las provincias. Podemos visualizar las cantidades de cada columna, no sÃ³lo de la provincia.

In [ ]:
felinos.groupby('genus').nunique()

O podemos obtener quÃ© cantidad de **diferentes tipos** de felinos se vieron en cada **provincia**.

In [ ]:
felinos.groupby('stateProvince')['genus'].nunique()

### MÃ©todos de agregaciÃ³n
Dijimos que **groupby** tiene que estar acompaÃ±ado de alguna operaciÃ³n de agregaciÃ³n, algunas de las que se puede utilizar son:
* sum(): Suma los valores de cada grupo.
* count(): Cuenta el nÃºmero de elementos en cada grupo.
* mean(): Calcula la media de los valores en cada grupo.

Ejemplos usando **count** , que cuenta la cantidad segÃºn los valores de columna **genus**.

In [ ]:
felinos.groupby('genus')['kingdom'].count()

TambiÃ©n podemos agrupar por dos columnas, y realizar la operaciÃ³n sobre una tercera columna que nos interesa, en este caso:
* agrupamos por **genus** primero.
* despuÃ©s por cada tipo de genus agrupa por **provincia**.
* y luego muestra la cantidad de valores Ãºnicos por localidad.
* Es decir la cantidad de localidades diferentes de cada provincia que estÃ¡ en el Dataframe, donde se vieron los tipos diferentes de felinos.

In [ ]:
felinos.groupby(['genus','stateProvince']).locality.nunique()

## ðŸŽ’ Graficamos

Vamos a ver algo mÃ¡s de Matplotlib y la librerÃ­a Plotly

### ðŸ“Œ Matplotlib

Grafiquemos las agrupaciones de datos hechas entre los tipos de felinos y las provincias.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
genus_unique_province =felinos.groupby('genus')['stateProvince'].nunique()
province_unique_genus = felinos.groupby('stateProvince')['genus'].nunique()

# Configurar los datos para el grÃ¡fico de torta
labels_genus = genus_unique_province.index
sizes_genus = genus_unique_province.values

# Configurar los datos para el grÃ¡fico de barra
labels_province = province_unique_genus.index
sizes_province = province_unique_genus.values
posicion = np.arange(len(labels_province))
 # Crearsubplots
fig,ax = plt.subplots(1,2,figsize=(14 , 6))
paleta = plt.get_cmap('coolwarm')
ax[0].set_prop_cycle("color", [paleta(1. * i/len(labels_genus)) 
                                for i in range(len(labels_genus))])
ax[0].pie(sizes_genus , labels=labels_genus, autopct='%.1f%%', labeldistance=1.15, startangle=140 )
ax[0].set_title('Porcentaje de provincias donde se vieron felinos ')

ax[1].bar(posicion , sizes_province, tick_label=labels_province)
ax[1].set_title('Cantidad de tipos de felinos diferentes vistos en cada provincia ')
ax[1].set_xticklabels(labels_province, rotation=45)

# Mostramos el grÃ¡fico
fig.tight_layout()
plt.show()

Algunas de las funciones mostradas:
```python
fig,ax = plt.subplots(1,2,figsize=(14 , 6))
```
* **plt.subplots**: permite identificar la figura y el grÃ¡fico en sÃ­, para poder personalizar
cada uno. PodrÃ­amos tener varios grÃ¡ficos en una misma figura y personalizar cada uno por separado.
    * variable **fig**: la figura que contiene ambos grÃ¡ficos
    * **1** fila
    * **2** columnas
    * **figsize**: tamaÃ±o en pulgadas, 14 de ancho y 6 de alto
    * variable **ax**: un arreglo con la cantidad de grÃ¡ficos especificados, ubicados en posiciÃ³n 0 y posiciÃ³n 1
* **plt.get_cmap**: define una paleta de colores especÃ­fica
* **set_prop_cycle**: permite definir los colores de la paleta en funciÃ³n de la cantidad de porciones que se van a mostrar
* **labels**: las etiquetas para cada porciÃ³n del grÃ¡fico de torta(pie)
* **labeldistance**: ubica las etiquetas a una distnacia especÃ­fica desde el centro del cÃ­rculo
* **tick_label**: las etiquetas para cada barra del grÃ¡fico (bar)
* **fig.tight_layout()**: ajusta los grÃ¡ficos al tamaÃ±o de la figura

### ðŸ“Œ Plotly
Lo que diferencia a Plotly de Matplotlib es que utiliza JavaScript, lo que permite una
mayor interacciÃ³n con los grÃ¡ficos. AdemÃ¡s, esta biblioteca estÃ¡ basada en la biblioteca
[d3.js](https://d3js.org/) y [stack.gl](https://github.com/stackgl).
* GrÃ¡ficos simples: **plotly.express**
* GrÃ¡ficos mÃ¡s complejos: **plotly.graph_objects (go.Figure)**
* [DocumentaciÃ³n](https://plotly.com/python/).

#### GrÃ¡fico usando plotly.express

Hagamos un grÃ¡fico simple, de [lÃ­neas](https://plotly.com/python/line-charts/) de las cantidad de felinos vistos por aÃ±o.

Primero vamos a modificar el tipo de datos de la columna **year**, como tiene valores nulos las eliminamos a esas filas.

In [ ]:
felinos_mod = felinos.dropna(subset=['year']).copy()
felinos_mod['year'] = felinos_mod['year'].astype(int)
dat_valores =felinos_mod.groupby('year')['genus'].count()
years = dat_valores.index
values = dat_valores.values

In [ ]:
import plotly.express as px

fig = px.line(felinos_mod, x=years, y=values, title='Eventos por AÃ±o')
fig.show()

#### GrÃ¡ficos utilizando plotly.graph_objects (go.Figure)

Esta opciÃ³n permite personalizar y generar [grÃ¡ficos](https://plotly.com/python/creating-and-updating-figures/) con funcionalidades avanzadas.

Ejemplo  de un [**grÃ¡fico de torta**](https://plotly.com/python/pie-charts/) de los valores generados con las agrupaciones ya realizadas entre las columnas **genus** y **stateProvince**.

In [ ]:
import plotly.graph_objects as go
genus_unique_province = felinos.groupby('genus')['stateProvince'].nunique()
# Configurar los datos para el grÃ¡fico de torta
labels_genus = genus_unique_province.index
sizes_genus = genus_unique_province.values

fig_pie = go.Figure(data=[go.Pie(labels=labels_genus, values=sizes_genus, hole=0.3,
                                  hoverinfo="label+percent")] )
fig_pie.update_layout(title="Cantidad de provincias donde se vieron felinos")
fig_pie.show()

Veamos el significado de algunas de las opciones
* importamos las librerÃ­as:
```python
import plotly.graph_objects as go

```
* **go.Figure()**: Crea una figura de Plotly que contiene data y diseÃ±o.
    * **data=**
```python

go.Pie(labels=labels_genus, values=sizes_genus, hole=0.3,
                                  hoverinfo="label+percent"
```
* **go.Pie()** : genera una grÃ¡fico de torta.
  * labels: las etiquetas de los valores representados.
  * values: los valores par calcular los porcentajes.
  * hole: valor opcional que determina el tamaÃ±o de un agujero en el medio.
  * hoverinfo: lo que se va a mostrar cuando se pasa el mouse sobre cada porciÃ³n. En este caso hace una combinaciÃ³n de la etiqueta mÃ¡s el porcentaje.
  * otras no utilizadas: **textinfo**, **textposition**, **marker**.
* **update_layout()**: permite la personalizaciÃ³n.
* **fig.show()**: mostrar la figura.

#### Opciones de hoverinfo
* label: Muestra la etiqueta (nombre) de la porciÃ³n.
* value: Muestra el valor numÃ©rico de la porciÃ³n.
* percent: Muestra el porcentaje que representa la porciÃ³n del total.
* name: Muestra el nombre de la traza.
* text: Muestra el texto asociado con la porciÃ³n, si se ha definido.
* none: No muestra ninguna informaciÃ³n de hover.
* all: Muestra toda la informaciÃ³n disponible.

#### GrÃ¡fico de barras con Plotly

In [ ]:
fig_bar =  go.Figure(data=go.Bar(x=labels_province, y=sizes_province, 
                     marker=dict(color='DarkSlateGrey'), 
                     text=labels_province,
                     hoverinfo='x+y',
                     name='Cantidad de tipos de felinos diferentes vistos en cada provincia'))

# Actualizar diseÃ±o y mostrar la figura
fig_bar.update_layout(title="GrÃ¡ficos de felinos",
                  xaxis_title="Provincia",
                  yaxis_title="Cantidad",
                  barmode='group',
                  bargap=0.15,
                  bargroupgap=0.1)

Algunas de las opciones que cambian para un grÃ¡fico de barra
```python
go.Bar(x=labels_province, y=sizes_province, 
                     marker=dict(color='skyblue'), 
                     text=labels_province,
                     hoverinfo='x+y',
                     name='Cantidad de tipos de felinos diferentes vistos en cada provincia'))
```
* **x**: las etiquetas del eje x
* **y**: los tamaÃ±os de las barras
* **marker**: un diccionatio con opciones para personalizar la visualizaciÃ³n como :
    * **color**
    * **size**
    * **line=** para un grÃ¡fico de lÃ­nea:
            line=dict
* **name**: para definir el nombre de la traza, en caso que haya mÃ¡s de una, se identifican de forma individual.

```python
fig_bar.update_layout(title="GrÃ¡ficos de felinos",
                  xaxis_title="Provincia",
                  yaxis_title="Cantidad",
                  barmode='group',
                  bargap=0.15,
                  bargroupgap=0.1)
```
* **yaxis_title - xaxis_title**: tÃ­tulo del eje **y** y **x**
* **barmode='group'**: indica la forma en que se van agrupar las barras en el grÃ¡fico
   * 'group': una al lado de la otra
   * 'stack': una arriba de la otra
* **bargap**: separaciÃ³n que hay entre las barras
* **bargroupgap**: separaciÅ„ entre grupos de barras.

#### GrÃ¡fico con Plotly con varias trazas
Les dejo el cÃ³digo y generaciÃ³n de grÃ¡fico que muestra la cantidad de los diferentes felinos vistos por cada mes del aÃ±o, haciendo un grÃ¡fico de barra comparativo entre los 3 tipos de felinos

Agrupo por tipo de felino y por mes

In [ ]:
#primero conviero a int la columna month
felinos_month_int = felinos.dropna(subset='month').copy()
felinos_month_int.month = felinos_month_int.month.astype(int)

observations_by_month = felinos_month_int.groupby(['genus', 'month']).size().unstack(fill_value=0)
observations_by_month

Genero cada barra con los valores de cada tipo de felino, indicando en **name** el nombre correspondiente

In [ ]:
fig = go.Figure()

for genus in observations_by_month.index:
    fig.add_trace(go.Bar(
        x=observations_by_month.columns,
        y=observations_by_month.loc[genus],
        name=genus,        
        marker=dict(line=dict(width=1))
    ))

# Actualizar el diseÃ±o de la figura
fig.update_layout(
    title="Observaciones de Felinos por Mes",
    xaxis_title="Mes",
    yaxis_title="Cantidad de Observaciones",
    xaxis=dict(
        tickmode='array',
        tickvals=list(range(1, 13)),  # Asegurar que se muestran todos los meses del 1 al 12
        ticktext=['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Dicembre']
    ),
    barmode='group',  # Agrupar las barras una al lado de la otra
    bargap=0.15,      # SeparaciÃ³n entre barras individuales
    bargroupgap=0.1   # SeparaciÃ³n entre grupos de barras
)

# Mostrar el grÃ¡fico
fig.show()

**unstack(fill_value=0)**: para separar los datos luego del groupby y la opciÃ³n fill_value permite completar con un valor en los casos que no contengan datos, si no se pasa la opciÃ³n se completa con NaN.

Veamos cÃ³mo cambian la disponibildiad de los datos sin usar **unstack**

In [ ]:
felinos_month_int.groupby(['genus', 'month']).size().unstack(fill_value=0)#
#felinos_month_int.groupby(['genus', 'month']).size()

## ðŸŽ’AnÃ¡lisis y  grÃ¡ficos en Streamlit

Podemos generar diferentes tipos de grÃ¡ficos en [Streamlit](https://docs.streamlit.io/develop/api-reference/charts):
* grÃ¡ficos simples: le pasamos los datos directamente
    * **bar_chart**
    * **st.line_chart**
    * otros
* grÃ¡ficos a travÃ©s de librerÃ­as especÃ­ficas: generamos la figura con la librerÃ­a y luego la mostramos con las funciones de cada librerÃ­a en Streamlit:
    * Matplotlib: **st.pyplot(figura)**
    * Plotly: **st.plotly_chart(figura)**
    * muchas mÃ¡s.
    * 
En el caso de usar las librerÃ­as especÃ­ficas para graficar, la generaciÃ³n es igual que fuera de Streamlit, lo que necesitamos para verla  es la funciÃ³n propia para cada librerÃ­a.

 ### InteracciÃ³n con widgets
 Los datos o grÃ¡ficos que mostramos pueden generarse en funciÃ³n de elecciones que haga el usuario, algunos de los widgets que nos permiten esta interacciÃ³n son:
 * **st.multiselect**: da la opciÃ³n de elegir varios valores de una lista
   ```python
   st.multiselect('TÃ­tulo', [datos])
   ```
 * **st.selectbox**: se puede seleccionar una sola opciÃ³n
   ```python
   st.selectbox('TÃ­tulo', [datos])
   ```
 * **st.select_slider**: valores Ãºnicos
   ```python
   st.select_slider('TÃ­tulo', options=opciones)
   ```
* **st.slider**
  rango de valores:(minimo, maximo) es un tupla que representa los valores seleccionados
   ```python
   st.slider('Rango de AÃ±os', minino, maximo, (minimo, maximo))
   ```